Library
MyUFGame/Temp/
MyUFGame/Assembly-CSharp.csproj
MyUFGame/Assembly-CSharp-Editor.csproj
MyUFGame/MyUFGame.sln
MyUFGame/.idea/
/MyUFGame/Assembly-CSharp-Editor-firstpass.csproj
/MyUFGame/Assembly-CSharp-firstpass.csproj
