<?xml version="1.0" encoding="UTF-8"?>
<config>
    <server_id>9010</server_id>
    <game_server>127.0.0.1</game_server>
    <game_port>8082</game_port>
    <assets_config_url>http://wapifiles.wordzhgame.net/activityfiles/Cody/config.db.zip</assets_config_url>
    <assets_download_url_base/>
    <app_version>1.0.1</app_version>
    <app_download_url>http://211.151.100.249/yinglong/update.apk</app_download_url>
</config>