#macro( smallType $type)
#if($type == "Short")short#elseif( $type == "Integer" )int#elseif( $type == "String" )string#elseif( $type == "Byte" )byte#elseif( $type == "Long" )long#elseif( $type == "Float" )float#elseif( $type == "Double" )double#elseif( $type == "Boolean" )bool#else$type#end
#end
#macro( bigType $type)
#if($type == "Short")Short#elseif( $type == "Integer" )Int#elseif( $type == "String" )String#elseif( $type == "Byte" )Byte#elseif( $type == "Long" )Long#elseif( $type == "Float" )Float#elseif( $type == "Double" )Double#elseif( $type == "Boolean" )Bool#else$type#end
#end
#macro( upperFirstChar $type)$type.substring(0,1).toUpperCase()$type.substring(1)#end
#macro( lowerFirstChar $type)$type.substring(0,1).toLowerCase()$type.substring(1)#end
	// $field.comment
	WriteShort((short)${newFieldName}.Length);
	int ${newFieldName}Size = ${newFieldName}.Length;
	int ${newFieldName}Index = 0;
	for(${newFieldName}Index=0; ${newFieldName}Index<${newFieldName}Size; ${newFieldName}Index++){
		Write#bigType(${field.type})(${newFieldName} [ ${newFieldName}Index ]);
	}//end
	