#macro( smallType $type)
#if($type == "Byte")int#elseif( $type == "Boolean" )int#elseif( $type == "Short" )int#elseif( $type == "Integer" )int#elseif( $type == "Long" )Long#elseif( $type == "Float" )Number#elseif( $type == "Double" )Number#else$type#end
#end
#macro( bigType $type)
#if( $type == "Integer" )Int#elseif( $type == "Boolean" )Byte#elseif( $type == "String" )UTF#else$type#end
#end
#macro( upperFirstChar $type)$type.substring(0,1).toUpperCase()$type.substring(1)#end

	// $field.comment
	msgBody.writeShort(${newFieldName}.length);
	var ${newFieldName}Size:int = ${newFieldName}.length;
	var ${newFieldName}Index:int = 0;
	for(${newFieldName}Index=0; ${newFieldName}Index<${newFieldName}Size; ${newFieldName}Index++){
#if($field.clientType=="Long")
		$newFieldName[${newFieldName}Index].write(msgBody);
#else
#if($field.clientType=="String")
		GameConnection.writeGameUTF(msgBody,$newFieldName[${newFieldName}Index]);
#else
		msgBody.write#bigType($field.clientType)($newFieldName[${newFieldName}Index]);
#end
#end
	}//end
