BattlePropCoefTemplate.txt gs com.imop.lj.gameserver.battle.template.BattlePropCoefTemplateVO //战斗属性系数表

NpcTemplate.txt gs com.imop.lj.gameserver.npc.template.NpcTemplateVO //npc模板

MapTemplate.txt gs com.imop.lj.gameserver.map.template.MapTemplateVO //地图基础模板
MapNpcTemplate.txt gs com.imop.lj.gameserver.map.template.MapNpcTemplateVO //地图npc模板
MapMeetMonsterTemplate.txt gs com.imop.lj.gameserver.map.template.MapMeetMonsterTemplateVO //地图遇怪方案
PetIslandTemplate.txt gs com.imop.lj.gameserver.map.template.PetIslandTemplateVO //宠物岛神兽配置

PetTemplate.txt gs com.imop.lj.gameserver.pet.template.PetTemplateVO //英雄模板
PetPropTemplate.txt gs com.imop.lj.gameserver.pet.template.PetPropTemplateVO //一二级属性关系
BattleTypeTemplate.txt gs com.imop.lj.gameserver.pet.template.BattleTypeTemplateVO //战斗类型配置
PetLevelTemplate.txt gs com.imop.lj.gameserver.pet.template.PetLevelTemplateVO //升级经验
PetGrowthTemplate.txt gs com.imop.lj.gameserver.pet.template.PetGrowthTemplateVO //宠物成长率
PetTalentSkillNumTemplate.txt gs com.imop.lj.gameserver.pet.template.PetTalentSkillNumTemplateVO //宠物天赋技能数量
PetTalentSkillPackTemplate.txt gs com.imop.lj.gameserver.pet.template.PetTalentSkillPackTemplateVO //宠物天赋技能包
PetTalentSkillLevelTemplate.txt gs com.imop.lj.gameserver.pet.template.PetTalentSkillLevelTemplateVO //宠物天赋技能升级
PetRejuvenationTemplate.txt gs com.imop.lj.gameserver.pet.template.PetRejuvenationTemplateVO //还童
PetVariationTemplate.txt gs com.imop.lj.gameserver.pet.template.PetVariationTemplateVO //变异
PetArtificeTemplate.txt gs com.imop.lj.gameserver.pet.template.PetArtificeTemplateVO //炼化
PetTrainCostTemplate.txt gs com.imop.lj.gameserver.pet.template.PetTrainCostTemplateVO //宠物培养消耗
PetTrainPropTemplate.txt gs com.imop.lj.gameserver.pet.template.PetTrainPropTemplateVO //宠物培养数值
PetPerceptLevelTemplate.txt gs com.imop.lj.gameserver.pet.template.PetPerceptLevelTemplateVO //宠物悟性等级
PetPerceptPromoteTemplate.txt gs com.imop.lj.gameserver.pet.template.PetPerceptPromoteTemplateVO //宠物悟性提升经验
PetPerceptTypeTemplate.txt gs com.imop.lj.gameserver.pet.template.PetPerceptTypeTemplateVO //宠物悟性类别
PetFightPowerTemplate.txt gs com.imop.lj.gameserver.pet.template.PetFightPowerTemplateVO //战斗力相关
PetFriendTemplate.txt gs com.imop.lj.gameserver.pet.template.PetFriendTemplateVO //伙伴配置表
PetPassiveTalentSkillTemplate.txt gs com.imop.lj.gameserver.pet.template.PetPassiveTalentSkillTemplateVO //宠物被动天赋技能
PetPassiveNormalSkillTemplate.txt gs com.imop.lj.gameserver.pet.template.PetPassiveNormalSkillTemplateVO //宠物被动普通技能

SkillTemplate.txt gs com.imop.lj.gameserver.skill.template.SkillTemplateVO //技能配置
SkillEffectTemplate.txt gs com.imop.lj.gameserver.skill.template.SkillEffectTemplateVO //效果配置
SkillEffectDescTemplate.txt gs com.imop.lj.gameserver.skill.template.SkillEffectDescTemplateVO //效果描述
SkillPerformTemplate.txt gs com.imop.lj.gameserver.skill.template.SkillPerformTemplateVO //技能表现
SkillBuffTemplate.txt gs com.imop.lj.gameserver.skill.template.SkillBuffTemplateVO //buff配置
SkillAddTemplate.txt gs com.imop.lj.gameserver.skill.template.SkillAddTemplateVO //技能效果配置
SkillEffectItemLevelTemplate.txt gs com.imop.lj.gameserver.skill.template.SkillEffectItemLevelTemplateVO //仙符升级配置
SkillEffectOpenTemplate.txt gs com.imop.lj.gameserver.skill.template.SkillEffectOpenTemplateVO //技能开格子

EnemyTemplate.txt gs com.imop.lj.gameserver.enemy.template.EnemyTemplateVO //单个怪物表
EnemyArmyTemplate.txt gs com.imop.lj.gameserver.enemy.template.EnemyArmyTemplateVO //怪物组表
EnemyNumTemplate.txt gs com.imop.lj.gameserver.enemy.template.EnemyNumTemplateVO //遇怪
EnemyCoefTemplate.txt gs com.imop.lj.gameserver.enemy.template.EnemyCoefTemplateVO //单个怪物系数表

QuestTemplate.txt gs com.imop.lj.gameserver.task.template.QuestTemplateVO //任务模板

PubTaskTemplate.txt gs com.imop.lj.gameserver.pubtask.template.PubTaskTemplateVO //酒馆任务模板
PubTaskGroupTemplate.txt gs com.imop.lj.gameserver.pubtask.template.PubTaskGroupTemplateVO //酒馆任务组模板
PubLevelTemplate.txt gs com.imop.lj.gameserver.pubtask.template.PubLevelTemplateVO //酒馆等级模板

MissionTemplate.txt gs com.imop.lj.gameserver.mission.template.MissionTemplateVO //关卡配置
MissionEnemyGroupTemplate.txt gs com.imop.lj.gameserver.mission.template.MissionEnemyGroupTemplateVO //敌人组配置

ItemTemplate.txt gs com.imop.lj.gameserver.item.template.ItemTemplateVO //道具基础配置
NormalItemTemplate.txt gs com.imop.lj.gameserver.item.template.NormalItemTemplateVO ItemTemplate//普通道具配置
ConsumeItemTemplate.txt gs com.imop.lj.gameserver.item.template.ConsumeItemTemplateVO ItemTemplate //可消耗物品模板
EquipItemTemplate.txt gs com.imop.lj.gameserver.item.template.EquipItemTemplateVO ItemTemplate //装备物品模板
PetSkillBookItemTemplate.txt gs com.imop.lj.gameserver.item.template.PetSkillBookItemTemplateVO ItemTemplate //宠物技能书
GemItemTemplate.txt gs com.imop.lj.gameserver.item.template.GemItemTemplateVO ItemTemplate //宠物技能书
SkillEffectItemTemplate.txt gs com.imop.lj.gameserver.item.template.SkillEffectItemTemplateVO ItemTemplate //仙符道具
LeaderSkillBookTemplate.txt gs com.imop.lj.gameserver.item.template.LeaderSkillBookTemplateVO ItemTemplate //人物技能书

StoreOpenTemplate.txt gs com.imop.lj.gameserver.item.template.StoreOpenTemplateVO //仓库开格花费

EquipPropRandTemplate.txt gs com.imop.lj.gameserver.equip.template.EquipPropRandTemplateVO //装备-属性权重表
EquipFixedPropTemplate.txt gs com.imop.lj.gameserver.equip.template.EquipFixedPropTemplateVO //装备-固定属性表
EquipGradeTemplate.txt gs com.imop.lj.gameserver.equip.template.EquipGradeTemplateVO //装备-阶数加成
EquipColorTemplate.txt gs com.imop.lj.gameserver.equip.template.EquipColorTemplateVO //装备-颜色加成
UpgradeEquipStarTemplate.txt gs com.imop.lj.gameserver.equip.template.UpgradeEquipStarTemplateVO //装备位升星
EquipRecastTemplate.txt gs com.imop.lj.gameserver.equip.template.EquipRecastTemplateVO //装备重铸
EquipDecomposeTemplate.txt gs com.imop.lj.gameserver.equip.template.EquipDecomposeTemplateVO //装备分解
EquipRecastLockAttrTemplate.txt gs com.imop.lj.gameserver.equip.template.EquipRecastLockAttrTemplateVO //装备锁定属性重铸

CraftEquipTemplate.txt gs com.imop.lj.gameserver.equip.template.CraftEquipTemplateVO //装备打造
CraftEquipMaterialTemplate.txt gs com.imop.lj.gameserver.equip.template.CraftEquipMaterialTemplateVO //所需材料
CraftEquipRarityTemplate.txt gs com.imop.lj.gameserver.equip.template.CraftEquipRarityTemplateVO //颜色概率
CraftEquipGradeTemplate.txt gs com.imop.lj.gameserver.equip.template.CraftEquipGradeTemplateVO //等阶概率

DirtyWordsTemplate.txt core com.imop.lj.common.model.template.DirtyWordsTemplateVO //脏话中间层
TimeEventTemplate.txt core com.imop.lj.common.model.template.TimeEventTemplateVO //定时事件
BehaviorTemplate.txt gs com.imop.lj.gameserver.behavior.template.BehaviorTemplateVO //行为模板
BehaviorBuyPowerCostTemplate.txt gs com.imop.lj.gameserver.behavior.template.BehaviorBuyPowerCostTemplateVO //购买体力价格配置表
BehaviorBuySkillPointCostTemplate.txt gs com.imop.lj.gameserver.behavior.template.BehaviorBuySkillPointCostTemplateVO //购买技能点价格配置表
BindIdBehaviorTemplate.txt gs com.imop.lj.gameserver.behavior.template.BindIdBehaviorTemplateVO //绑定Id行为模板
ScribedLogTimeEventTemplate.txt gs com.imop.lj.gameserver.timeevent.template.ScribedLogTimeEventTemplateVO //scribedLog日志更新时间
TimeGiftConfigTemplate.txt gs com.imop.lj.gameserver.human.template.TimeGiftConfigTemplateVO //限时礼包清空设置
TipsInfoTemplate.txt gs com.imop.lj.gameserver.human.template.TipsInfoTemplateVO //tips模板
GameFuncDefaultOpenedTemplate.txt gs com.imop.lj.gameserver.human.function.GameFuncDefaultOpenedTemplateVO //游戏功能默认开放配置
IpadChargeTemplate.txt gs com.imop.lj.gameserver.charge.template.IpadChargeTemplateVO //ipad版本充值配置模板
IpadChargeTplTemplate.txt gs com.imop.lj.gameserver.charge.template.IpadChargeTplTemplateVO //ipad版本充值配置模板的模板
CdOpenCondTemplate.txt gs com.imop.lj.gameserver.cd.template.CdOpenCondTemplateVO //冷却队列开启条件配置
CdTemplate.txt gs com.imop.lj.gameserver.cd.template.CdTemplateVO //冷却队列配置模版
CdTiredRatioTemplate.txt gs com.imop.lj.gameserver.cd.template.CdTiredRatioTemplateVO //冷却队列疲劳度配置模版
ChargePrizeTemplate.txt gs com.imop.lj.gameserver.charge.template.ChargePrizeTemplateVO //充值奖励配置

RoleNameXingTemplate.txt gs com.imop.lj.gameserver.role.template.RoleNameXingTemplateVO //随机名称表，姓
RoleNameMaleMingTemplate.txt gs com.imop.lj.gameserver.role.template.RoleNameMaleMingTemplateVO //随机名称表，名
RoleNameFemaleMingTemplate.txt gs com.imop.lj.gameserver.role.template.RoleNameFemaleMingTemplateVO //随机名称表，女名

SceneTemplate.txt gs com.imop.lj.gameserver.scene.template.SceneTemplateVO //随机名称表

SysPowerGiveTimeTemplate.txt gs com.imop.lj.gameserver.timeevent.template.SysPowerGiveTimeTemplateVO //赠送体力模板
ScribedLogTimeEventTemplate.txt gs com.imop.lj.gameserver.timeevent.template.ScribedLogTimeEventTemplateVO //scribedLog日志更新时间
TimeNoticeTemplate.txt gs com.imop.lj.gameserver.timeevent.template.TimeNoticeTemplateVO //定时公告
RefreshActivityStateTemplate.txt gs com.imop.lj.gameserver.timeevent.template.RefreshActivityStateTemplateVO //刷新活动状态
RefreshArenaTemplate.txt gs com.imop.lj.gameserver.timeevent.template.RefreshArenaTemplateVO //刷新竞技场
RefreshDevilIncarnateTemplate.txt gs com.imop.lj.gameserver.timeevent.template.RefreshDevilIncarnateTemplateVO //刷新混世魔王


RewardConfigTemplate.txt gs com.imop.lj.gameserver.reward.template.RewardConfigTemplateVO //奖励模板配置，奖励分固定奖励和随机奖励，随机奖励由多组奖励集合组成
RewardSetTemplate.txt gs com.imop.lj.gameserver.reward.template.RewardSetTemplateVO //奖励集合
ShowRewardTemplate.txt gs com.imop.lj.gameserver.reward.template.ShowRewardTemplateVO //显示奖励配置
RewardSetTemplate.txt gs com.imop.lj.gameserver.reward.template.RewardSetTemplateVO //奖励集合
GradeRewardTemplate.txt gs com.imop.lj.gameserver.reward.template.GradeRewardTemplateVO //评分奖励配置

BroadcastTemplate.txt gs com.imop.lj.gameserver.broadcast.template.BroadcastTemplateVO //广播配置

FuncTemplate.txt gs com.imop.lj.gameserver.func.template.FuncTemplateVO //功能按钮定义
FuncOpenTemplate.txt gs com.imop.lj.gameserver.func.template.FuncOpenTemplateVO //功能开启

OnlineGiftTemplate.txt gs com.imop.lj.gameserver.onlinegift.template.OnlineGiftTemplateVO //在线礼包
SpecOnlineGiftTemplate.txt gs com.imop.lj.gameserver.onlinegift.template.SpecOnlineGiftTemplateVO //特殊在线礼包
DailySignGiftTemplate.txt gs com.imop.lj.gameserver.onlinegift.template.DailySignGiftTemplateVO //每日签到奖励

MysteryShopItemTemplate.txt gs com.imop.lj.gameserver.mysteryshop.template.MysteryShopItemTemplateVO //神秘商店
ShowCurrencyTemplate.txt gs com.imop.lj.gameserver.constant.template.ShowCurrencyTemplateVO //货币显示配置
MusicConfigTemplate.txt gs com.imop.lj.gameserver.constant.template.MusicConfigTemplateVO //音乐配置

MallNormalItemTemplate.txt gs com.imop.lj.gameserver.mall.template.MallNormalItemTemplateVO //商城普通物品配置
MallTimeLimitItemTemplate.txt gs com.imop.lj.gameserver.mall.template.MallTimeLimitItemTemplateVO //商城限时队列配置
MallTimeLimitQueueTemplate.txt gs com.imop.lj.gameserver.mall.template.MallTimeLimitQueueTemplateVO //商城限时商品配置
MallCatalogTemplate.txt gs com.imop.lj.gameserver.mall.template.MallCatalogTemplateVO //商城标签配置
MallEndBoradcastTimeTemplate.txt gs com.imop.lj.gameserver.mall.template.MallEndBoradcastTimeTemplateVO //商城结束公告时间

PresetGoodActivityTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.PresetGoodActivityTemplateVO //预置活动
GoodActivityBaseTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityBaseTemplateVO //精彩活动基础配置
GoodActivityTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityTargetTemplateVO //精彩活动目标基础配置
GoodActivityNormalTotalChargeTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityNormalTotalChargeTargetTemplateVO GoodActivityTargetTemplate//限时累计充值
GoodActivityDayTotalChargeTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityDayTotalChargeTargetTemplateVO GoodActivityTargetTemplate//每日累计充值
GoodActivityLevelUpTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityLevelUpTargetTemplateVO GoodActivityTargetTemplate//等级排名
GoodActivityVipLevelTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityVipLevelTargetTemplateVO GoodActivityTargetTemplate//VIP等级
GoodActivityTotalCostTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityTotalCostTargetTemplateVO GoodActivityTargetTemplate//累计消耗
GoodActivityEveryCostTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityEveryCostTargetTemplateVO GoodActivityTargetTemplate//每累计消耗
GoodActivitySevenDayLoginTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivitySevenDayLoginTemplateVO GoodActivityTargetTemplate//每日登陆
GoodActivityBuyMoneyTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityBuyMoneyTargetTemplateVO GoodActivityTargetTemplate//招财进宝
GoodActivityLevelMoneyTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityLevelMoneyTargetTemplateVO GoodActivityTargetTemplate//开服基金
GoodActivityTotalChargeBuyTargetTemplate.txt gs com.imop.lj.gameserver.goodactivity.template.GoodActivityTotalChargeBuyTargetTemplateVO GoodActivityTargetTemplate//一元购

ExamTemplate.txt gs com.imop.lj.gameserver.exam.template.ExamTemplateVO  //科举试题
ExamSpecialRewardConditionTemplate.txt gs com.imop.lj.gameserver.exam.template.ExamSpecialRewardConditionTemplateVO  //特殊奖励条件

HumanMainSkillTemplate.txt gs com.imop.lj.gameserver.humanskill.template.HumanMainSkillTemplateVO //人物心法
HumanMainSkillLevelTemplate.txt gs com.imop.lj.gameserver.humanskill.template.HumanMainSkillLevelTemplateVO //人物心法等级
HumanSubSkillTemplate.txt gs com.imop.lj.gameserver.humanskill.template.HumanSubSkillTemplateVO //人物技能
HumanSubSkillLevelTemplate.txt gs com.imop.lj.gameserver.humanskill.template.HumanSubSkillLevelTemplateVO //人物技能等级
HumanMainSkillToSubSkillTemplate.txt gs com.imop.lj.gameserver.humanskill.template.HumanMainSkillToSubSkillTemplateVO //人物心法对应人物技能
HumanSubPassiveSkillTemplate.txt gs com.imop.lj.gameserver.humanskill.template.HumanSubPassiveSkillTemplateVO //人物被动技能效果


GemOpenTemplate.txt gs com.imop.lj.gameserver.equip.template.GemOpenTemplateVO //宝石开孔
GemCostTemplate.txt gs com.imop.lj.gameserver.equip.template.GemCostTemplateVO //宝石等级
GemForPropValueTemplate.txt gs com.imop.lj.gameserver.equip.template.GemForPropValueTemplateVO //属性种类对应单价值
GemForPropTemplate.txt gs com.imop.lj.gameserver.equip.template.GemForPropTemplateVO //宝石镶嵌装备位附加属性类型
GemSynthesisTemplate.txt gs com.imop.lj.gameserver.equip.template.GemSynthesisTemplateVO //宝石合成

TradeSaleableTemplate.txt gs com.imop.lj.gameserver.trade.template.TradeSaleableTemplateVO //可交易的物品
TradeCommodityTypeTemplate.txt gs com.imop.lj.gameserver.trade.template.TradeCommodityTypeTemplateVO //商品类别
TradeMainTagTemplate.txt gs com.imop.lj.gameserver.trade.template.TradeMainTagTemplateVO //商品主标签
TradeSubTagTemplate.txt gs com.imop.lj.gameserver.trade.template.TradeSubTagTemplateVO //商品子标签
TradeSortableFieldTemplate.txt gs com.imop.lj.gameserver.trade.template.TradeSortableFieldTemplateVO //可排序字段

MailBoxInfoTemplate.txt gs com.imop.lj.gameserver.human.template.MailBoxInfoTemplateVO //小信封内容模板
ActivityTemplate.txt gs com.imop.lj.gameserver.activity.template.ActivityTemplateVO //活动模板

CorpsUpgradeTemplate.txt gs com.imop.lj.gameserver.corps.template.CorpsUpgradeTemplateVO //军团升级模版

ActivityUITemplate.txt gs com.imop.lj.gameserver.activityui.template.ActivityUITemplateVO //活动UI模板
ActivityUIRewardTemplate.txt gs com.imop.lj.gameserver.activityui.template.ActivityUIRewardTemplateVO //活动UI奖励模板

TeamTargetTemplate.txt gs com.imop.lj.gameserver.team.template.TeamTargetTemplateVO //队伍目标模板

WizardRaidTemplate.txt gs com.imop.lj.gameserver.wizardraid.template.WizardRaidTemplateVO //绿野仙踪-副本配置
WizardRaidWaveTemplate.txt gs com.imop.lj.gameserver.wizardraid.template.WizardRaidWaveTemplateVO //绿野仙踪-波数配置
WizardRaidMonsterTemplate.txt gs com.imop.lj.gameserver.wizardraid.template.WizardRaidMonsterTemplateVO //绿野仙踪-刷怪配置
WizardRaidPositionTemplate.txt gs com.imop.lj.gameserver.wizardraid.template.WizardRaidPositionTemplateVO //绿野仙踪-怪物位置

LifeSkillMineTemplate.txt gs com.imop.lj.gameserver.lifeskill.template.LifeSkillMineTemplateVO //生活技能-采矿-基础
LifeSkillMineLevelTemplate.txt gs com.imop.lj.gameserver.lifeskill.template.LifeSkillMineLevelTemplateVO //生活技能-采矿-等级
LifeSkillMinePitTemplate.txt gs com.imop.lj.gameserver.lifeskill.template.LifeSkillMinePitTemplateVO //生活技能-采矿-矿坑
LifeSkillMineCostTemplate.txt gs com.imop.lj.gameserver.lifeskill.template.LifeSkillMineCostTemplateVO //生活技能-采矿-消耗
LifeSkillMineMinerTemplate.txt gs com.imop.lj.gameserver.lifeskill.template.LifeSkillMineMinerTemplateVO //生活技能-采矿-矿工

EquipRefineryTemplate.txt gs com.imop.lj.gameserver.equip.template.EquipRefineryTemplateVO //装备洗炼

TheSweeneyTaskTemplate.txt gs com.imop.lj.gameserver.thesweeneytask.template.TheSweeneyTaskTemplateVO //除暴安良任务模板
TheSweeneyTaskGroupTemplate.txt gs com.imop.lj.gameserver.thesweeneytask.template.TheSweeneyTaskGroupTemplateVO //除暴安良任务组模板

TreasureMapTemplate.txt gs com.imop.lj.gameserver.treasuremap.template.TreasureMapTemplateVO //藏宝图任务模板
TreasureMapGroupTemplate.txt gs com.imop.lj.gameserver.treasuremap.template.TreasureMapGroupTemplateVO //藏宝图任务组模板
TreasureMapRewardTemplate.txt gs com.imop.lj.gameserver.treasuremap.template.TreasureMapRewardTemplateVO //藏宝图奖励模板
TitleTemplate.txt gs com.imop.lj.gameserver.title.template.TitleTemplateVO //称号模版

CorpsWarRankRewardTemplate.txt gs com.imop.lj.gameserver.corpswar.template.CorpsWarRankRewardTemplateVO //帮派竞赛奖励

ForageTaskGroupTemplate.txt gs com.imop.lj.gameserver.foragetask.template.ForageTaskGroupTemplateVO //护送粮草任务组模版
ForageTaskTemplate.txt gs com.imop.lj.gameserver.foragetask.template.ForageTaskTemplateVO //护送粮草等级模版
ForageTaskRewardTemplate.txt gs com.imop.lj.gameserver.foragetask.template.ForageTaskRewardTemplateVO //护送粮草奖励模版

OvermanTemplate.txt gs com.imop.lj.gameserver.overman.template.OvermanTemplateVO //师徒

NvnRankRewardTemplate.txt gs com.imop.lj.gameserver.nvn.template.NvnRankRewardTemplateVO //nvn排名奖励
NvnConWinScoreTemplate.txt gs com.imop.lj.gameserver.nvn.template.NvnConWinScoreTemplateVO //nvn连胜积分
NvnEndConWinScoreTemplate.txt gs com.imop.lj.gameserver.nvn.template.NvnEndConWinScoreTemplateVO //nvn终结连胜积分
NvnMatchRankTemplate.txt gs com.imop.lj.gameserver.nvn.template.NvnMatchRankTemplateVO //nvn匹配排名段

StoryTemplate.txt gs com.imop.lj.gameserver.story.template.StoryTemplateVO //剧情配置表

WingTemplate.txt gs com.imop.lj.gameserver.wing.template.WingTemplateVO //翅膀
WingUpgradeTemplate.txt gs com.imop.lj.gameserver.wing.template.WingUpgradeTemplateVO //翅膀升阶消耗

ArenaRankChallengeTemplate.txt gs com.imop.lj.gameserver.arena.template.ArenaRankChallengeTemplateVO //竞技场对手排名
ArenaBattleRewardTemplate.txt gs com.imop.lj.gameserver.arena.template.ArenaBattleRewardTemplateVO //竞技场战斗奖励
ArenaRankRewardTemplate.txt gs com.imop.lj.gameserver.arena.template.ArenaRankRewardTemplateVO //竞技场排名奖励
ArenaBuyTimesTemplate.txt gs com.imop.lj.gameserver.arena.template.ArenaBuyTimesTemplateVO //竞技场购买消耗
ArenaConWinNoticeTemplate.txt gs com.imop.lj.gameserver.arena.template.ArenaConWinNoticeTemplateVO //竞技场连胜公告
ArenaLeaderSkillWeightTemplate.txt gs com.imop.lj.gameserver.arena.template.ArenaLeaderSkillWeightTemplateVO //竞技场人物技能权重
ArenaPetSkillWeightTemplate.txt gs com.imop.lj.gameserver.arena.template.ArenaPetSkillWeightTemplateVO //竞技场宠物技能权重
ArenaRobotTemplate.txt gs com.imop.lj.gameserver.arena.template.ArenaRobotTemplateVO //机器人战斗力

CorpsTaskTemplate.txt gs com.imop.lj.gameserver.corpstask.template.CorpsTaskTemplateVO //帮派任务模板
CorpsBenifitTemplate.txt gs com.imop.lj.gameserver.corpstask.template.CorpsBenifitTemplateVO //帮派福利模板

PromoteTemplate.txt gs com.imop.lj.gameserver.promote.template.PromoteTemplateVO //提升模板

PetHorseLevelTemplate.txt gs com.imop.lj.gameserver.pet.template.PetHorseLevelTemplateVO //升级经验
PetHorseGrowthTemplate.txt gs com.imop.lj.gameserver.pet.template.PetHorseGrowthTemplateVO //宠物成长率
PetHorseRejuvenationTemplate.txt gs com.imop.lj.gameserver.pet.template.PetHorseRejuvenationTemplateVO //还童
PetHorseArtificeTemplate.txt gs com.imop.lj.gameserver.pet.template.PetHorseArtificeTemplateVO //炼化
PetHorseTrainCostTemplate.txt gs com.imop.lj.gameserver.pet.template.PetHorseTrainCostTemplateVO //骑宠培养消耗
PetHorseTrainPropTemplate.txt gs com.imop.lj.gameserver.pet.template.PetHorseTrainPropTemplateVO //骑宠培养数值
PetHorsePerceptLevelTemplate.txt gs com.imop.lj.gameserver.pet.template.PetHorsePerceptLevelTemplateVO //骑宠悟性等级
PetHorsePerceptPromoteTemplate.txt gs com.imop.lj.gameserver.pet.template.PetHorsePerceptPromoteTemplateVO //骑宠悟性提升经验
PetHorsePerceptTypeTemplate.txt gs com.imop.lj.gameserver.pet.template.PetHorsePerceptTypeTemplateVO //骑宠悟性类别

ChargeTemplate.txt gs com.imop.lj.gameserver.charge.template.ChargeTemplateVO //充值模板

VipConfigTemplate.txt gs com.imop.lj.gameserver.vip.template.VipConfigTemplateVO //VIP升级配置
VipUpgradeTemplate.txt gs com.imop.lj.gameserver.vip.template.VipUpgradeTemplateVO //VIP权限配置

TowerExpTemplate.txt gs com.imop.lj.gameserver.tower.template.TowerExpTemplateVO //通天塔经验配置
TowerRewardTemplate.txt gs com.imop.lj.gameserver.tower.template.TowerRewardTemplateVO //通天塔奖励配置
TowerMapTemplate.txt gs com.imop.lj.gameserver.tower.template.TowerMapTemplateVO //通天塔地图对应关系

CorpsBossTemplate.txt gs com.imop.lj.gameserver.corpsboss.template.CorpsBossTemplateVO //帮派boss
CorpsBossRankTemplate.txt gs com.imop.lj.gameserver.corpsboss.template.CorpsBossRankTemplateVO //帮派boss排行榜奖励
CorpsBossCountRankTemplate.txt gs com.imop.lj.gameserver.corpsboss.template.CorpsBossCountRankTemplateVO //帮派boss挑战次数排行榜奖励

SealDemonMapTemplate.txt gs com.imop.lj.gameserver.sealdemon.template.SealDemonMapTemplateVO //封妖地图配置
SealDemonNpcTemplate.txt gs com.imop.lj.gameserver.sealdemon.template.SealDemonNpcTemplateVO //封妖npc配置
SealDemonRewardTemplate.txt gs com.imop.lj.gameserver.sealdemon.template.SealDemonRewardTemplateVO //封小妖奖励配置
SealDemonKingRewardTemplate.txt gs com.imop.lj.gameserver.sealdemon.template.SealDemonKingRewardTemplateVO //封魔王奖励配置

DevilIncarnateMapTemplate.txt gs com.imop.lj.gameserver.devilincarnate.template.DevilIncarnateMapTemplateVO //混世魔王地图配置
DevilIncarnateNpcTemplate.txt gs com.imop.lj.gameserver.devilincarnate.template.DevilIncarnateNpcTemplateVO //混世魔王npc配置
DevilIncarnateRewardTemplate.txt gs com.imop.lj.gameserver.devilincarnate.template.DevilIncarnateRewardTemplateVO //混世魔王奖励配置

TimeLimitPushTemplate.txt gs com.imop.lj.gameserver.timelimit.template.TimeLimitPushTemplateVO //限时活动推动配置
TimeLimitMonsterTemplate.txt gs com.imop.lj.gameserver.timelimit.template.TimeLimitMonsterTemplateVO //限时杀怪任务配置
TimeLimitNpcTemplate.txt gs com.imop.lj.gameserver.timelimit.template.TimeLimitNpcTemplateVO //限时挑战npc任务配置

CorpsCultivateTemplate.txt gs com.imop.lj.gameserver.corpscultivate.template.CorpsCultivateTemplateVO //帮派修炼技能配置
CorpsCultivateCostTemplate.txt gs com.imop.lj.gameserver.corpscultivate.template.CorpsCultivateCostTemplateVO //帮派修炼消耗配置

CorpsAssistTemplate.txt gs com.imop.lj.gameserver.corpsassist.template.CorpsAssistTemplateVO //辅助技能配置
CorpsAssistGenTemplate.txt gs com.imop.lj.gameserver.corpsassist.template.CorpsAssistGenTemplateVO //辅助技能产出配置
CorpsAssistCostTemplate.txt gs com.imop.lj.gameserver.corpsassist.template.CorpsAssistCostTemplateVO //辅助技能消耗配置
CorpsAssistCritTemplate.txt gs com.imop.lj.gameserver.corpsassist.template.CorpsAssistCritTemplateVO //侍剑堂暴击配置

CorpsBuildingUpgradeTemplate.txt gs com.imop.lj.gameserver.corps.template.CorpsBuildingUpgradeTemplateVO //帮派建筑升级配置

Day7TargetTemplate.txt gs com.imop.lj.gameserver.day7target.template.Day7TargetTemplateVO //七日目标

PlotDungeonTemplate.txt gs com.imop.lj.gameserver.plotdungeon.template.PlotDungeonTemplateVO //剧情副本
VideoTemplate.txt gs com.imop.lj.gameserver.video.template.VideoTemplateVO //剧情录像

SiegeDemonTemplate.txt gs com.imop.lj.gameserver.siegedemon.template.SiegeDemonTemplateVO //剧情录像
SiegeDemonPositionTemplate.txt gs com.imop.lj.gameserver.siegedemon.template.SiegeDemonPositionTemplateVO //剧情录像
